/*.local
*.iml
.vscode
.gradle
node_modules
local.properties
.idea
.DS_Store
build/
captures
.externalNativeBuild
.cxx
local.properties
android/dydxWallet/build
*.swp
github.properties
android/scripts/secrets
android/app/src/debug/google-services.json
android/app/src/release/google-services.json
android/v4/common/src/main/res/values/strings.xml

