/*.local
*.iml
.gradle
/local.properties
.idea/
.DS_Store
build/
captures
.externalNativeBuild
.cxx
local.properties
dydxWallet/build
*.swp
github.properties
/scripts/secrets
v4/app/src/debug/google-services.json
v4/app/src/release/google-services.json
v4/common/src/main/res/values/strings.xml
