/*.local
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/dictionaries
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
**/build/*.compiler.options
**/build/.transforms
**/build/generated
**/build/intermediates
**/build/kotlin
**/build/kotlinToolingMetadata/
**/build/outputs
**/build/spotless
**/build/test-results
**/build/tmp
**/build/gmpAppId.txt
**/build/reports/*
!**/build/reports/lint-results-debug.txt
captures
.externalNativeBuild
.cxx
local.properties
dydxWallet/build
*.swp
github.properties
/scripts/secrets
v4/app/src/debug/google-services.json
v4/app/src/release/google-services.json
v4/common/src/main/res/values/strings.xml
